################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Sistema/.vs
/Sistema/bin
/Sistema/obj
/Sistema/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
